.ct {
    position: relative;
    top: 200px;
    left: calc(50% - 200px);
    width: 400px;
    height: 300px;
    background: linear-gradient(to bottom, rgba(250, 250, 250, .1), rgba(0, 0, 0, .3));
    border-radius: 50px;
}

.ct h3 {
    position: absolute;
    left: 105px;
    top: 194px;
    height: 32px;
    font-size: 30px;
    font-weight: 700;
    /* color: rgba(249, 110, 76, 0.5); */
    color: rgba(250, 250, 250, .6);
    padding-top: 1px;
    text-align: center;
}
.ct h3:hover{
    text-shadow: 0 4px 8px #fff;
}
.ct h4 {
    position: absolute;
    left: 120px;
    top: 238px;
    color: rgba(250, 250, 250, .7);
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    animation-delay: .5s;
}
.ct a {
    position: absolute;
    top: 315px;
    left: 150px;
    display: inline-block;
    padding-top: 10px;
    /* padding-left: calc(50% - 50px); */
    width: 100px;
    height: 70px;
    line-height: 40px;
    color: rgba(250, 250, 250, .2);
    font-size: 100px;
    text-align: center;
    transition: all .4s;

}

.tx {
    position: absolute;
    top: 45px;
    left: calc(50% - 65px);
    width: 130px;
    height: 130px;
    border-radius: 65px;
    overflow: hidden;
}

.tx img {
    width: 100%;
    height: 100%;
    animation: name duration timing-function delay iteration-count direction fill-mode;
    animation: circle 5.2s infinite 0s linear forwards;
    transition: all .4s;
}

@keyframes circle {
    0% {
        /* transform: rotateX(0deg); */
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.tx img:hover {
    animation-play-state: paused;
}

.ct a:hover {
    /* transform: scale(1.1); */
    transform: translate(0px, 8px);
    text-shadow: 0px -5px 3px rgba(250, 250, 250, .3);

}