@font-face {
  font-family: "iconfont"; /* Project id 3641774 */
  src: url('iconfont.eot?t=1665299473943'); /* IE9 */
  src: url('iconfont.eot?t=1665299473943#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont.woff2?t=1665299473943') format('woff2'),
       url('iconfont.woff?t=1665299473943') format('woff'),
       url('iconfont.ttf?t=1665299473943') format('truetype'),
       url('iconfont.svg?t=1665299473943#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jpf-QQ-circle-fill:before {
  content: "\e887";
}

.icon-jpf-douyin:before {
  content: "\e8db";
}

.icon-jpf-camera:before {
  content: "\e698";
}

.icon-jpf-DND_mode:before {
  content: "\e69a";
}

.icon-jpf-brightness:before {
  content: "\e699";
}

.icon-jpf-musiclist:before {
  content: "\e69c";
}

.icon-jpf-icon-test:before {
  content: "\e633";
}

.icon-jpf-icon-test1:before {
  content: "\e634";
}

.icon-jpf-icon-test2:before {
  content: "\e635";
}

.icon-jpf-icon-test3:before {
  content: "\e636";
}

.icon-jpf-icon-test4:before {
  content: "\e63f";
}

.icon-jpf-icon-test5:before {
  content: "\e64d";
}

.icon-jpf-icon-test6:before {
  content: "\e655";
}

.icon-jpf-icon-test7:before {
  content: "\e657";
}

.icon-jpf-icon-test8:before {
  content: "\e658";
}

.icon-jpf-icon-test9:before {
  content: "\e659";
}

.icon-jpf-icon-test10:before {
  content: "\e65e";
}

.icon-jpf-icon-test11:before {
  content: "\e65f";
}

.icon-jpf-getout:before {
  content: "\e6ea";
}

.icon-jpf-gohome:before {
  content: "\e6eb";
}

.icon-jpf-a-chevron-leftdouble:before {
  content: "\e603";
}

.icon-jpf-a-chevron-rightdouble:before {
  content: "\e605";
}

.icon-jpf-chat:before {
  content: "\e606";
}

.icon-jpf-chevron-right:before {
  content: "\e607";
}

.icon-jpf-sousuo:before {
  content: "\e6c7";
}

.icon-jpf-shouye:before {
  content: "\e6c8";
}

.icon-jpf-shezhi:before {
  content: "\e6cc";
}

.icon-jpf-fangda:before {
  content: "\e6dd";
}

.icon-jpf-jiazai:before {
  content: "\e6e9";
}

.icon-jpf-xiaoxi:before {
  content: "\e6ec";
}

.icon-jpf-tupian:before {
  content: "\e6fa";
}

.icon-jpf-xiangji:before {
  content: "\e6fd";
}

.icon-jpf-shezhi1:before {
  content: "\e709";
}

.icon-jpf-renzheng:before {
  content: "\e70d";
}

.icon-jpf-yiwen:before {
  content: "\e70e";
}

.icon-jpf-tixing:before {
  content: "\e70f";
}

.icon-jpf-zuo:before {
  content: "\e710";
}

.icon-jpf-you:before {
  content: "\e711";
}

.icon-jpf-guanbi:before {
  content: "\e712";
}

.icon-jpf-185031shoessnickersstreamline:before {
  content: "\e602";
}

.icon-jpf-185033ipodmusicstreamline:before {
  content: "\e604";
}

.icon-jpf-185026laptopmacbookstreamline:before {
  content: "\e60f";
}

.icon-jpf-185069headsetsoundstreamline:before {
  content: "\e631";
}

.icon-jpf-185080bubblelovestreamlinetalk:before {
  content: "\e645";
}

.icon-jpf-profilefemale:before {
  content: "\e83f";
}

